/**
 * @name A silent voice
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.pinimg.com/originals/50/cb/5c/50cb5cd8f238944acb1d09ff181a16e6.gif');
  --background-image-blur: 3px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://64.media.tumblr.com/fabdabe4f4418b56a61eeb831a01902c/d1eabfea68d5013f-f7/s540x810/085b6874ef77241b42aae29e0c1aa88d8515c18a.gif');
  --popout-image-blur: 4px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://i.pinimg.com/originals/4a/0f/47/4a0f47588e475ed2104523e93d359aac.gif');
  --overlay-image-blur: 5px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://storage.cloudconvert.com/tasks/63b2d87e-f0f1-4c2a-bc2c-81020249a8aa/ShoukoTemplate-1.png?AWSAccessKeyId=cloudconvert-production&Expires=1690045945&Signature=RHANoIOrVJRarbERxQBK3llOyRI%3D&response-content-disposition=inline%3B%20filename%3D%22ShoukoTemplate-1.png%22&response-content-type=image%2Fpng');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --overlay-brightness: 0.75;
  --gradient-primary: 255,222,219;
  --gradient-secondary: 255,155,155;
  --link-colour: #FF8181;
  --scrollbar-colour: rgb(255,0,0,1);
  --gradient-direction: 218deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0.14;
  --font: Lexend;
  --window-padding: 2px;
  --window-roundness: 41px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


